::-webkit-input-placeholder {
  color: rgb(213, 213, 213);
  font-size: 1.2em;
  text-align: center;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background: linear-gradient(#3e5f8a, rgb(81, 84, 119));
  margin: 0;
}
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#loginSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#SessionLog {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-color: #f4f4f4;
}
form {
  margin: 2em;
}
.form1,
.form2 {
  padding: 3em;
}
.form1 {
  border-right: 1px dashed #29292999;
  padding-right: 5em;
}
.form2 {
  padding-left: 2em;
}
form h2 {
  text-align: center;
}
.Data {
  justify-content: center;
  align-items: center;
}
.Data input {
  display: block;
  margin: 2em auto;
}
.Data input[type="text"],
.Data input[type="Password"] {
  text-align: center;
  width: 20em;
  height: 2em;
}
.Data input[type="button"] {
  width: 7em;
  height: 2em;
  font-size: 1em;
}
@media (max-width: 768px) {
  html {
    font-size: 11px;
  }
  .form1 {
    border-right: none;
  }
  .form2 {
    border-top: 1px dashed #29292999;
  }
  #SessionLog {
    display: block;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2560px) {
  html {
    font-size: 34px;
  }
}


/* Jorge Peñaranda */