html, .seleccionarCantidad, body {
  background-color: rgb(57, 57, 57);
}
.seleccionarCantidad {
  display: flex;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}
form {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 2em;
}
form input {
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
}
#cantidadPersonas {
  width: 11em;
  height: 2em;
  text-align: center;
}

#seccionPersonas {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#datosPersonas,
#listaPersonas {
  margin: 5em;
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .Tarjetas {
    margin-left: 0em;
  }

  .Tarjetas h2 {
    text-align: center;
  }

  .Tarjetas__Contenido {
    margin-right: 0;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 14px;
  }
  #seccionPersonas {
    display: block;
    justify-content: unset;
    align-items: unset;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2560px) {
  html {
    font-size: 34px;
  }
}


/* Jorge Peñaranda */